@use '../../../scss/abstracts' as *;

.about__wrap {
	margin-top: 200px;

	@include media-breakpoint-down(md) {
		margin-top: 120px;
	}

	@include media-breakpoint-down(sm) {
		margin-top: 100px;
	}
}
