
@use '../../../scss/abstracts' as *;
.about__wrap {
    .text-component--pink  {
        margin-top: 300px;
    }
    @include media-breakpoint-down(md) {
        .text-component--pink {
            margin-top: 200px;
        }
    }
    @include media-breakpoint-down(sm) {
        .text-component--pink {
            margin-top: 100px;
        }
    }
}