@use '../../../scss/abstracts' as *;

.program-details-bg {
	position: relative;
	width: 104%;
	margin-left: -2%;
	min-height: 500px;
	margin-top: 50px;
	margin-bottom: 50px;
	padding-top: 100px;

	@include media-breakpoint-down(md) {
		padding-top: 30px;
	}
}

.program-details-bg--pink {
	background-color: $purple-light-background;
}

.program-details-bg--green {
	background-color: $green-light;
	&::after {
		content: '';
		position: absolute;
		top: -65px;
		left: 0;
		width: 100%;
		background-image: url('../../../assets/single-program-top.png');
		z-index: 0;
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position: top center;
		z-index: 0;
		height: 100%;
		z-index: 0;
	}
	&::before {
		content: '';
		position: absolute;
		bottom: -90px;
		left: 0;
		width: 100%;
		background-image: url('../../../assets/single-program-bottom.png');
		z-index: 0;
		height: 130px;
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position: top center;
		z-index: 0;
	}
	@include media-breakpoint-down(sm) {
		&::after {
			top: -20px;
		}
		&::before {
			bottom: -115px;
		}
	}
}

.program-details-top-img {
	position: absolute;
	right: 10%;
	height: 200;
	width: 200;
	top: -40;
	z-index: 1;

	@include media-breakpoint-down(sm) {
		height: 150;
		width: 150;
		top: -40;
	}
}
