// ---------- @{module}
// ------------------------------------------------------------------------------
@use "../abstracts" as *;

.link {
	color: $black;
	text-decoration: underline;
	@include hover {
		color: $grey-light;
	}
}
