@use '../../../scss/abstracts' as *;

.programs-table {
	position: relative;
	width: 100%;
	padding: 200px 0;
}

.programs-table-wrapper {
	display: flex;
	flex-direction: column;
	background-color: $green;
	padding: 50px 0;
	width: calc(100% + 60px);
	margin-left: -30px;
	position: relative;
	&::after {
		content: '';
		position: absolute;
		top: -75px;
		left: 0;
		width: 100%;
		background-image: url('../../../assets/dark-green-top.png');
		z-index: 0;
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position: top center;
		z-index: 0;
		height: 100%;
	}
	&::before {
		content: '';
		position: absolute;
		bottom: -75px;
		left: 0;
		width: 100%;
		background-image: url('../../../assets/dark-green-bottom.png');
		z-index: 0;
		height: 100%;
		background-repeat: no-repeat;
		background-size: 100% auto;
		background-position: bottom center;
		z-index: 0;
		height: 100%;
	}
	@include media-breakpoint-down(md) {
		&::after {
			top: -50px;
		}
		&::before {
			bottom: -50px;
		}
	}
	@include media-breakpoint-down(sm) {
		width: calc(100% + 40px);
		margin-left: -20px;
		&::after {
			top: -20px;
		}
		&::before {
			bottom: -20px;
		}
	}
}

.programs__title {
	color: white;
	font-weight: $semi-bold;
	width: 80%;
	margin: 10px auto;
	font-size: 36px;
	font-family: $font-secondary;
	margin-bottom: 15px;
	z-index: 1;

	@include media-breakpoint-down(md) {
		font-size: 28px;
	}
	@include media-breakpoint-down(sm) {
		width: 90%;
	}
}
