@use '../../../../scss/abstracts' as *;

.program-card-main {
	position: relative;
	width: 80%;
	margin: 10px auto;
	padding: 30px 50px 50px;
	border-radius: 10px;
	color: black;
	z-index: 2;

	@include media-breakpoint-down(sm) {
		width: 90%;
		padding: 30px 20px 50px;
	}
}

.program-card--green {
	background-color: $green-light;
}

.program-card--yellow {
	background-color: $yellow;
}

.program-card__header {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-size: 22px;

	@include media-breakpoint-down(sm) {
		flex-direction: column;
		text-align: center;
	}
}

.program-card__year-main {
	margin-right: 10px;
	font-weight: 700;
}

.program-card__description {
	margin-top: 12px;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
}

.program-card__arrow {
	position: absolute;
	bottom: 10px;
	right: 20px;
}
